<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OOPS!</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/notfound.css" />
  </head>
  <body>
    <div class="box-container">
      <div class="inner-container">
        <div class="message">
          <h1>Sorry</h1>
          <p>We couldn't find the page</p>
          <p>Try searching or go <a href="/">UranusQ's home page.</a></p>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
