<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congratulations!</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/userconfirmalert.css" />
  </head>
  <body>
    <div class="box-container">
      <div class="inner-container">
        <div class="message">
          <h1>Congratulations!</h1>
          <p>
            Your payment confirmation has been successfully sent to our teams,
            and your bot is going to run within 24h if we have successfully
            received your payment.
          </p>
          <p>
            Go to <a href="/user/profile/<%= UId %>">Your Profile</a> or go
            <a href="/user/dashboard">Dashboard</a>
          </p>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
