<nav>
  <div class="top-left">
    <div class="logo">
      <img src="../../../images/logo.png" />
      <h2 class="primary">Uranus<span class="danger">Q</span></h2>
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp">close</span>
    </div>
  </div>
  <div class="right">
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
      <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
      </div>
      <div class="profile">
        <div class="info">
          <p>Hey, <b><%= FirstName %> </b></p>
          <small class="text-muted"><%= userPosition %> </small>
        </div>
        <div class="profile-photo">
          <span class="material-icons-sharp">account_circle</span>
        </div>
      </div>
    </div>
  </div>
</nav>
